body{
    display: flex;
    justify-content:center;
    background-color: #eeeeee;
}
form{
    margin: 100px;
}
.input-field{
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}
label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #070707;
    transition: 0.2s all;
    cursor: text;
}
input{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #000000;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    color: #1A1A1A;
    background-color: transparent;
    font-size: 1rem;
}
#section{
    margin-top: 30%;
}
#boton{
    padding-top: 50px;
}
#sub{
    position: relative;
    width: 100%;
    font-family: '',sans-serif;
    box-shadow: none;
    color: black;
    background-color: rgb(250, 250, 0);
    font-size: 1rem;
}
input:invalid{
    outline: 0;
}
input:focus,
input:valid{
    border-color: rgb(224, 224, 17);
}
input:focus~label,
input:valid~label{
    font-size: 14px;
    top: -24px;
    color: rgb(218, 218, 17);
}
